{
    "ConnectionStrings": {
        "DefaultConnection": "Server=localhost;Database=InventoryManagementDb;User Id=sa;Password=YOUR_PASSWORD_HERE;TrustServerCertificate=True;MultipleActiveResultSets=true"
    },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
